body {
    background-color: #f8f9fa;
}
.navbar{
    background-color: #212529;
    z-index: 1030;
}
.sidebar {
    height: 100vh;
    position: fixed;
    top: 56px;
    left: 0;
    width: 220px;
    background-color: #212529;
    z-index: 1020;
    padding-top: 1rem;
    transition: all 0.3s;
}

.sidebar a {
    color: #adb5bd;
    padding: 12px 20px;
    display: block;
    text-decoration: none;
}

.sidebar a:hover, .sidebar a.active {
    background-color: #2d862d;
    color: #fff;
}

.content {
    margin-left: 220px;
    margin-top: 56px;
    position: relative;
    z-index: 1;
    padding: 20px;
}

@media (max-width: 768px) {
    .sidebar {
        left: -220px;
    }

    .sidebar.show {
        left: 0;
    }

    .content {
        margin-left: 0;
    }
}

.card-hover:hover {
    transform: scale(1.01);
    transition: 0.2s;
}

.navbar-brand {
    font-weight: bold;
}
